@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700;800&display=swap');

:root {
  --logo-gradient1: #f8efd4;
  --logo-gradient2: #b0b0b0;
  --logo-gradient3: #f8efd4;
  --logo-gradient4: #fff8dc;
  --logo-shadow1: #b0b0b0;
  --logo-shadow2: #fff8dc;
}

.app-root.light {
  --logo-gradient1: #18191a;
  --logo-gradient2: #646464;
  --logo-gradient3: #18191a;
  --logo-gradient4: #b0b0b0;
  --logo-shadow1: #646464;
  --logo-shadow2: #b0b0b0;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  height: 86px;
  width: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo-full, .logo-initials {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding-bottom: 4px;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 30px;
  transition: opacity 0.4s, transform 0.7s cubic-bezier(.68,-0.55,.27,1.55);
  pointer-events: none;
  background: linear-gradient(270deg, var(--logo-gradient1), var(--logo-gradient2), var(--logo-gradient3), var(--logo-gradient4));
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradient-move 2.5s linear infinite;
  text-shadow: 0 2px 12px var(--logo-shadow1), 0 1px 2px var(--logo-shadow2);
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.logo-full {
  opacity: 1;
}

.logo-initials {
  opacity: 0;
  transform: translate(-50%, -50%) rotateY(180deg) scale(0.7);
  width: 50px;
}

.logo-container.toggled .logo-full {
  opacity: 0;
  transform: translate(-50%, -50%) rotateY(180deg) scale(0.7);
}

.logo-container.toggled .logo-initials {
  opacity: 1;
  transform: translate(-50%, -50%) rotateY(0deg) scale(1);
}
